$defaultColorW: #fff;
$defaultColorB: #000;

body {
    background-color: #f9f9f9;
    color: $defaultColorB;
}
video {
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 500px;
}
.Header {
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Logo {
        display: block;
    }
    &__inner {
        max-width: 1250px;
        margin: 0 auto;
    }
    &__search {
        display: block;
        padding: 0 10px;
    }
    &__search-link {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        transition: all 0.3s;
        strong {
            padding-left: 15px;
            color: $defaultColorB;
        }
        &:hover {
            background-color: #0057ff1f;
        }
    }
    &__search-drop {
        max-width: 500px;
        min-width: 320px;
        max-height: 500px;
        padding: 16px 0;
        overflow: auto;
    }
    &__userNav {
        div {
            padding-left: 20px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            &.active {
                svg {
                    fill: $defaultColorB;
                    polygon {
                        stroke: $defaultColorB;
                    }
                }
            }
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.PreloaderImg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(#fff, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-popover {
    padding-top: 12px;
    &-arrow {
        width: 14px;
        height: 19px;
        &-content {
            width: 14px;
            height: 14px;
        }
    }
    &-inner-content {
        padding: 2px 0 0;
    }
}

.Authorization {
    background-color: #fff;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    a {
        font-size: 1.2em;
    }
    .active {
        color: red;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    &__form {
        height: 96vh;
        padding-right: calc(10vw + 25px);
    }
    .login-form {
        text-align: center;
        button {
            width: 75%;
        }
    }
    .ant-divider {
        margin-bottom: 0;
    }
}

.ant-layout-header,
.ant-layout-footer {
    height: 60px;
    background-color: $defaultColorW;
    box-shadow: 0 0 9px 5px rgba($color: #001529, $alpha: 0.4);
}
.ant-layout-header {
    padding-left: 20px;
    padding-right: 20px;
}
.ant-layout-footer {
    padding: 10px 20px;
}

.Main {
    position: relative;
    padding-top: 58px;
    padding-bottom: 60px;
    &__inner {
        padding-top: 22px;
    }
}
.owner .nick {
    padding-left: 15px;
}
.Post {
    padding: 10px 0;
    position: relative;
    img {
        width: 100%;
        margin: 0 auto;
        padding: 1px;
        max-height: 600px;
        object-fit: contain;
    }
    &__dots.slick-dots {
        z-index: 1;
        li {
            border-radius: 50%;
            background-color: rgba($color: #1890ff, $alpha: 0.5);
            width: 10px;
            height: 10px;
            overflow: hidden;
            border: 1px solid #000;
            &.slick-active {
                border-radius: 5px;
                width: 20px;
                button {
                    background-color: #1890ff;
                }
            }
            button {
                height: 10px;
            }
        }
    }
    .ant-empty-image {
        height: 300px;
        img {
            margin: 0 auto;
            width: auto;
        }
    }
    &__btn {
        border: none;
        position: absolute;
        padding: 0;
        background-color: rgba($color: #fff, $alpha: 0.7);
        height: 39px;
        width: 39px;
        border-radius: 50%;
        transition: 0.4s;
        z-index: 5;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        svg {
            opacity: 0.8;
            width: 40px;
            height: 40px;
        }
    }
    &__prev {
        left: 5px;
        opacity: 0;
        &.--active {
            opacity: 1;
        }
    }
    &__next {
        right: 5px;
        opacity: 0;
        &.--active {
            opacity: 1;
        }
    }
    &__heart,
    &__collection {
        button {
            display: inline-block;
            min-width: auto;
            width: 30px;
            height: 30px;
            border: none;
            padding: 0;
            box-shadow: none;
        }
        strong {
            display: inline-block;
        }
    }
    &__collection {
        button {
            margin-right: auto;
        }
        svg {
            stroke-width: 2px;
            width: 24px;
            height: 24px;
        }
    }
    &__comments {
        a {
            font-size: 1.1em;
            color: $defaultColorB;
            font-weight: 500;
        }
    }
    &__send-comment {
        button {
            border: none;
            box-shadow: none;
        }
    }
    &__panel-btn {
        button {
            cursor: pointer;
            border: none;
            padding: 0;
            margin: 0;
            background-color: inherit;
            transition: all 0.3s;
            &:hover {
                text-shadow: 1px 1px 3px $defaultColorB;
            }
        }
    }
}

.Modal {
    .ant-modal-body {
        padding-left: 0;
        padding-right: 0;
    }
    &__inner {
        overflow: auto;
        max-height: 400px;
        .ant-skeleton-header {
            padding-left: 20px;
        }
    }
    li {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.Profile {
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    h1 {
        line-height: 1;
    }
    a {
        display: inline-block;
    }
    &__data {
        padding-top: 10px;
    }
    &__name {
        padding-bottom: 10px;
    }
    &__login {
        color: #8d8d8d;
    }
    &__count {
        padding-top: 10px;
        strong {
            font-size: 1.2em;
            padding-right: 5px;
        }
        span {
            font-size: 1.2em;
        }
        button {
            padding: 0;
            border: none;
        }
    }
    button {
        color: $defaultColorB;
    }
    &__link-message {
        display: inline-block;
        background: #1890ff;
        line-height: 1.5715;
        box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        height: 32px;
        padding: 4px 15px;
        font-size: 14px;
        border-radius: 2px;
        color: rgba(0, 0, 0, 0.85);
        border: 1px solid #1890ff;
        &:hover {
            color: $defaultColorW;
            border-color: #40a9ff;
            background: #40a9ff;
        }
    }
    &__created {
        padding: 10px 0;
    }
    &__post {
        padding: 2px;
        div {
            padding: 0;
        }
        img,
        video {
            width: 100%;
            height: auto;
            max-height: 175px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
    &__box {
        position: relative;
        &-icon {
            position: absolute;
            top: 0;
            right: 0;
        }
        &-icon--video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5em;
            svg {
                fill: $defaultColorW;
                stroke: $defaultColorB;
            }
        }
    }
}

.PostOne {
    max-width: 1250px;
    padding: 40px 15px 0;
    margin: 0 auto;
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        box-shadow: 0 0 6px 2px rgba($color: $defaultColorB, $alpha: 0.5);
        border-radius: 5px;
    }
    &__title {
        grid-area: 1 / 2 / 2 / 3;
        padding: 10px 20px 5px;
        background-color: $defaultColorW;
        & .owner {
            font-size: 1.2em;
            font-weight: 500;
        }
    }
    &__image {
        grid-area: 1 / 1 / 3 / 2;
        width: 60vw;
        overflow: auto;
        height: 100%;
        background-color: rgb(87, 87, 87);
        img {
            max-width: 100%;
            max-height: 600px;
            margin: 0 auto;
            object-fit: cover;
        }
        .Post__dots.slick-dots {
            bottom: 12px;
        }
    }
    &__description {
        grid-area: 2 / 2 / 3 / 3;
        background-color: $defaultColorW;
        padding: 5px 20px;
        height: 100%;
        .ant-typography {
            overflow-wrap: anywhere;
            margin-bottom: 5px;
        }
        .ant-divider {
            margin: 0 0 15px 0;
        }
    }
    &__description-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__description-top {
        flex-grow: 1;
        height: 100%;
    }
    &__comments {
        max-height: 350px;
        overflow: auto;
    }
    &__comment-edit {
        display: block;
        text-align: right;
        margin-right: 10px;
        margin-top: -5px;
        margin-bottom: -5px;
        margin-left: auto;
        color: rgba(0, 0, 0, 0.45);
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: color 0.3s;
        font-size: 1em;
        transform: rotate(90deg);
        svg {
            width: 15px;
            height: 20px;
        }
        &:hover {
            color: #595959;
        }
    }
    .ant-empty-image {
        height: auto;
    }
}

.PostCommentAuthor {
    color: $defaultColorB;
    font-size: 1.2em;
    font-weight: 500;
}

.ContainerInner {
    width: 100%;
    background-color: $defaultColorW;
    padding: 15px 25px;
    box-shadow: 0 0 6px 2px rgba($defaultColorB, 0.5);
    border-radius: 5px;
}

.ContainEditPost {
    .title {
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .description {
        white-space: break-spaces;
    }
}

.EditPhotos {
    &__box {
        margin-bottom: 15px;
    }
    .ant-upload-drag-icon {
        margin-bottom: 5px;
    }
}

.SortableList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

.SortableItemMask {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    border-radius: 4px;
    background-color: rgba($defaultColorB, 0.5);
    opacity: 0;
    z-index: 2;
    transition: 0.3s;
    button {
        svg {
            width: 15px;
            height: 15px;
            fill: $defaultColorW;
        }
    }
}

.CommentPostFeed {
    a {
        font-size: 1.2em;
    }
    span {
        font-size: 0.8em;
        color: #898989;
        font-style: italic;
        padding-left: 15px;
    }
}

.SortableItem {
    .Handle {
        position: relative;
        max-width: 130px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 6px 2px rgba($defaultColorB, 0.3);
        img,
        video {
            width: 100%;
            object-fit: cover;
            max-height: 150px;
        }
        &:hover .SortableItemMask {
            opacity: 1;
        }
    }
    .hiden-item,
    .ant-image-mask,
    .ant-image {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        clip: rect(0 0 0);
        pointer-events: none;
        padding: 10px;
    }
}

.ant-image-preview-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-height: 60vh;
    }
}

.ant-dropdown {
    box-shadow: 0 0 2px 0 $defaultColorB;
}

.avatar-uploader {
    display: flex;
    justify-content: center;
    bottom: 10px;

    .ant-upload {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        .edit-icon {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.EditMyData {
    label {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        flex-wrap: nowrap;
    }
    h4 {
        margin: 0;
        padding-right: 10px;
    }
    button {
        display: none;
        margin: 0 auto;
        &.--block {
            display: block;
        }
    }
    &__lable-box {
        span {
            display: block;
            text-align: center;
        }
        input.--error {
            border-color: #ff4d4f;
            max-width: 100%;
        }
        .EditMyData__lable-text {
            font-size: 1.3em;
            display: inline-block;
            padding: 0 10px;
            span {
                display: inline-block;
            }
            svg {
                margin-left: 10px;
            }
        }
    }
}

.Exit-box__btn {
    width: 100%;
    justify-content: flex-end;
    button {
        display: block;
        margin-left: auto;
    }
}

@media (max-width: 800px) {
    .Authorization {
        background-position: center top;
    }
    .PostOne {
        padding-top: 30px;
        &__inner {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: (45px, 1fr, 1fr);
            max-height: 100%;
        }
        &__title {
            grid-area: 1 / 1 / 2 / 2;
        }
        &__image {
            grid-area: 2 / 1 / 3 / 2;
            width: 100%;
            img,
            video {
                height: auto;
            }
        }
        &__description {
            grid-area: 3 / 1 / 4 / 2;
        }
        .Profile {
            &__box {
                img,
                video {
                    max-height: 120px;
                }
            }
        }
    }
}

@media (max-width: 560px) {
        .Authorization {
        background-position: center top;
        &__form {
            padding-right: 20px;
        }
        .ant-input-affix-wrapper {
            width: 65vw;
        }
    }
    .Logo {
        img {
            width: 35vw;
        }
    }
    .Main {
        padding-left: 10px;
        padding-right: 5px;
    }
    .ant-input-affix-wrapper {
        width: 45vw;
        padding: 2px 5px 2px 7px;
    }
    .ant-layout-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .PostOne {
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        &__description {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
