//     RESET STYLE
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

//
.Header {
    display: flex;
    background-color: #ececec;
    justify-content: space-between;
    align-items: center;
}
.UserNav {
    display: flex;
    width: 25vw;
    align-items: center;
    img {
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #000;
    }
}
.Authorization {
    height: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    a {
        font-size: 1.2em;
    }
    .active {
        color: red;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    &__form {
        height: 100vh;
        padding-right:calc(10vw + 25px)
    }
    .login-form {
        text-align: center;
        button {
            width: 75%;
        }
    }
}
