//     RESET STYLE
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.Header {
    display: flex;
    background-color: #ececec;
    justify-content: space-between;
    align-items: center;
    .Logo {
        display: block;
    }
    &__inner {
        max-width: 1250px;
        margin: 0 auto;
    }
    &__search {
        display: block;
        padding: 0 10px;
    }
    &__search-link {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        transition: all 0.3s;
        strong {
            padding-left: 15px;
            color: #000;
        }
        &:hover {
            background-color: #0057ff1f;
        }
    }
    &__search-drop {
        max-width: 500px;
        min-width: 320px;
        max-height: 500px;
        padding: 16px 0;
        overflow: auto;
    }
    &__userNav {
        div {
            padding-left: 20px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.ant-popover {
    padding-top: 12px;
    &-arrow {
        width: 14px;
        height: 19px;
        &-content {
            width: 14px;
            height: 14px;
        }
    }
    &-inner-content {
        padding: 2px 0 0;
    }
}

.dropMenu {
    max-width: 200px;
    min-width: 150px;
    .anticon.anticon-user,
    li {
        transition: all 0.3s;
        &:hover {
            background-color: rgba($color: #0057ff, $alpha: 0.12);
        }
    }
    a {
        transition: all 0.3s;
    }
    button {
        cursor: pointer;
        text-align-last: left;
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        transition: all 0.3s;
    }
}

.Authorization {
    height: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    a {
        font-size: 1.2em;
    }
    .active {
        color: red;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    &__form {
        height: 100vh;
        padding-right: calc(10vw + 25px);
    }
    .login-form {
        text-align: center;
        button {
            width: 75%;
        }
    }
    .ant-divider {
        margin-bottom: 0;
    }
}

.ant-layout-header {
    height: 58px;
    line-height: 58px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 9px 5px rgba($color: #001529, $alpha: 0.4);
}

.Main {
    padding-top: 58px;
    &__inner {
        padding-top: 15px;
    }
}

.Post {
    padding: 10px 0;
    position: relative;
    img {
        margin: 0 auto;
        padding: 1px;
    }
    &__dots.slick-dots {
        bottom: -14px;
        li {
            border-radius: 50%;
            background-color: rgba($color: #1890ff, $alpha: 0.5);
            width: 10px;
            height: 10px;
            overflow: hidden;
            &.slick-active {
                border-radius: 5px;
                width: 20px;
                button {
                    background-color: #1890ff;
                }
            }
            button {
                height: 10px;
            }
        }
    }
    .ant-empty-image {
        height: 300px;
        img {
            margin: 0 auto;
        }
    }
    &__btn {
        border: none;
        position: absolute;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.165);
        bottom: 1px;
        top: 1px;
        width: 50px;
        transition: 0.4s;
        cursor: pointer;
        svg {
            fill: #fff;
            opacity: 0.5;
            width: 50px;
            height: 30px;
            transition: 0.4s;
        }
    }
    &__prev {
        left: 0px;
        opacity: 0;
        &.--active {
            opacity: 1;
        }
    }
    &__next {
        right: 0px;
        opacity: 0;
        &.--active {
            opacity: 1;
        }
    }
    &__heart {
        button {
            min-width: auto;
            width: 30px;
            height: 30px;
            border: none;
            padding: 0;
            box-shadow: none;
        }
        strong {
            display: block;
        }
    }
    &__comments {
        a {
            font-size: 1.1em;
            color: #000;
            font-weight: 500;
        }
    }
    &__send-comment {
        button {
            border: none;
            box-shadow: none;
        }
    }
}
.Modal {
    .ant-modal-body {
        padding-left: 0;
        padding-right: 0;
    }
    &__inner {
        overflow: auto;
        max-height: 400px;
    }
    li {
        padding-left: 35px;
    }
}
.Profile {
    width: 100%;
    h1 {
        line-height: 1;
    }
    &__login {
        color: #8d8d8d;
    }
    &__count {
        strong {
            font-size: 1.2em;
            padding-right: 5px;
        }
        span {
            font-size: 1.2em;
        }
    }
    button {
        color: #000;
        padding: 0;
        border: none;
    }
}
